/* css/parfumerie-script-pro.css */
@font-face {
  font-family: "Parfumerie Script Pro";
  src: url("../font/ParfumerieScriptPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
